<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-gray-900">Produtos</h1>
      </div>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none flex items-center gap-4">
        <%= link_to "Criar Produto", new_admin_product_path, class:"block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"%>
          <%= link_to "Ativos", admin_products_path(tab: 'active'), class:"text-base font-semibold leading-6 text-gray-900"%>
          <%= link_to "Inativos", admin_products_path(tab: 'inactive'), class:"text-base font-semibold leading-6 text-gray-900"%>
          <%= button_to "Exportar", "#", class:"text-base font-semibold leading-6 text-gray-900"%>
      </div>
    </div>
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 sm:pl-0">Nome</th>
                <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">Valor</th>
                <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">Categoria</th>
                <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">Descrição</th>
                <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">Quantidade</th>
                <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">Status</th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">Ações</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              <% @products.each do |product| %>
                <tr class="text-center">
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0"><%= product.name %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= product.value %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= product.category.name %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= product.description %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= product.quantify %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= product.status ? "Ativo" : "Inativo" %></td>
                  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                    <div class="flex justify-center">
                      <%= link_to "Ver", admin_product_path(product), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
                      <%= link_to "Editar", edit_admin_product_path(product), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
                      <%= button_to "Excluir", admin_product_path(product), method: :delete, data: { confirm: "Tem certeza?"}, class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
                    </div>
                  </td>
                </tr>
                <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
